<h2>Client</h2>
<div class="row">
  <div class="large-6 columns">
    <table class="leftheader">
      <tr>
        <th>Name:</th>
        <td><%= @client.first_name %> <%= @client.last_name %></td>
      </tr>
      <tr>
        <th>Phone:</th>
        <td><%= @client.phone %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= @client.email %></td>
      </tr>
      <tr>
        <th>Referral Source:</th>
        <td><%= @client.referral_source %></td>
      </tr>
    </table>
  </div>
  <div class="large-6 columns"></div>
</div>
<br />