<h2>Client</h2>
<div class="row">
  <div class="large-6 columns" id="show-client">
    <div class="row">
      <div class="large-4 columns panel collapse callout text-right">
        <h6>Name:</h6>
      </div>
      <div class="large-8 columns panel collapse">
        <%= @client.first_name %> <%= @client.last_name %>  
      </div>
    </div>
    <div class="row ">
      <div class="large-4 columns panel collapse callout text-right">
        <h6>Phone:</h6>
      </div>
      <div class="large-8 columns panel collapse">
        <%= @client.phone %>  
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns panel collapse callout text-right">
        <h6>Email:</h6>
      </div>
      <div class="large-8 columns panel collapse">
        <%= @client.email %>  
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns panel collapse callout text-right">
        <h6>Referral Source:</h6>
      </div>
      <div class="large-8 columns panel collapse">
        <%= @client.referral_source %>  
      </div>
    </div>
  </div>
  <div class="large-2 columns">
    <ul class="side-nav">
      <li><a href="#"><%= link_to "View", client_path(@client) %></a></li>
      <li><a href="#"><%= link_to "Edit", edit_client_path(@client) %></a></li>
      <li><a href="#"><%= link_to "Delete", client_path(@client), :method => "delete" %></a></li>
    </ul>
  </div>
  <div class="large-4 columns"></div>
</div>